 <!-- Check for a a title. if no title, redirect -->
 <% if (title) { %>
    <h1><%= title%></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<a href="/inv/new/class"><p>add new classification</p></a>
<a href="/inv/new/inv"><p>add new inventory</p></a>